<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.meizu.alimemtest"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <!--android:sharedUserId="android.uid.system"-->

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Ex_checkboxActivity" />
        <activity android:name=".getfpsActivity" />

        <receiver android:name=".fpsBroadcast">
            <intent-filter>
                <action android:name="com.meizu.alimemtest.fpsservice" />
            </intent-filter>
        </receiver>

        <service android:name="com.meizu.alimemtest.runUIAService" >
        </service>

        <service android:name=".getFPSService" >
            <intent-filter>
                <action android:name="com.meizu.alimemtest.fpsservice" />
            </intent-filter>
        </service>
    </application>

</manifest>

    <!--system permission-->
    <!--android:sharedUserId="android.uid.system"-->
    <!--android:persistent="true"-->
    <!--coreApp="true"-->